referensi/*.pdf
referensi/*.djvu
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*__pycache__*
slide/*/*.pdf
*/.~*
*.xoj
*.wav
*.lyx~
portofolio/2022/.~lock.portofolio_forensika_suara_2021_2022.odt\#
